[package]
name = "vm-memory"
version = "0.5.0"
description = "Safe abstractions for accessing the VM physical memory"
keywords = ["memory"]
authors = ["Liu Jiang <gerry@linux.alibaba.com>"]
repository = "https://github.com/rust-vmm/vm-memory"
readme = "README.md"
license = "Apache-2.0 OR BSD-3-Clause"
edition = "2018"
autobenches = false

[features]
default = []
backend-bitmap = []
backend-mmap = []
backend-atomic = ["arc-swap"]

[dependencies]
libc = ">=0.2.39"
arc-swap = { version = ">=1.0.0", optional = true }

[target.'cfg(windows)'.dependencies.winapi]
version = ">=0.3"
features = ["errhandlingapi", "sysinfoapi"]

[dev-dependencies]
criterion = "0.3.0"
matches = ">=0"
vmm-sys-util = ">= 0.4.0"

[[bench]]
name = "main"
harness = false

[profile.bench]
lto = true
codegen-units = 1
