[package]
name = "vm-memory"
version = "0.1.0"
authors = ["Liu Jiang <gerry@linux.alibaba.com>"]
repository = "https://github.com/rust-vmm/vm-memory"
license = "Apache-2.0"

[features]
default = []
integer-atomics = []
backend-mmap = []

[dependencies]
libc = ">=0.2.39"
cast = ">=0"

[dev-dependencies]
matches = ">=0"
tempfile = ">=3.0.2"
