[package]
name = "vm-memory"
version = "0.1.0"
authors = ["Liu Jiang <gerry@linux.alibaba.com>"]
repository = "https://github.com/rust-vmm/vm-memory"
license = "Apache-2.0 OR BSD-3-Clause"
edition = "2018"

[features]
default = []
integer-atomics = []
backend-mmap = []

[dependencies]
libc = ">=0.2.39"

[target.'cfg(windows)'.dependencies.winapi]
version = ">=0.3"
features = ["errhandlingapi"]

[dev-dependencies]
matches = ">=0"
vmm-sys-util = ">= 0.4.0"
